<div class="analytics-container">

    <div class="analytics-top-row">
        <div class="analytics-top-row-cell analytics-legend-cell">
            <div class="analytics-legend-cell-header">
                Wine quality model
            </div>
            <div class="analytics-legend-cell-content">
                <ul>
                    <li>
                        <div class="analytics-legend-color-box green-box"></div>
                        <div class="analytics-legend-model-description">Optimal temperature (13&deg;C - 21&deg;C)</div>
                    </li>
                    <li>
                        <div class="analytics-legend-color-box orange-box"></div>
                        <div class="analytics-legend-model-description">Moderate temperature (-2&deg;C - 13&deg;C AND 21&deg;C - 35&deg;C)</div>
                    </li>
                    <li>
                        <div class="analytics-legend-color-box red-box"></div>
                        <div class="analytics-legend-model-description">Critical temperature (&lt;-2&deg;C AND &gt;35&deg;C)</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="analytics-top-row-cell analytics-chart-cell">
            <canvas id="temperature-chart"
                    class="chart chart-line"
                    chart-colors="vm.temperatureChart.colors"
                    chart-data="vm.temperatureChart.data"
                    chart-labels="vm.temperatureChart.labels"
                    chart-series="vm.temperatureChart.series"
                    chart-options="vm.temperatureChart.options"
                    chart-click="vm.temperatureChart.onClick"></canvas>
        </div>
    </div>

    <div class="analytics-bottom-row analytics-table-cell">
        <div layout="column" layout-margin flex>
            <div ag-grid="vm.gridOptions" class="ag-theme-material" style="height: 100%"></div>
        </div>
    </div>

</div>