<div class="agrowsn-app-container">

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">

            <md-button class="md-icon-button md-primary"
                       aria-label="Menu"
                       ng-click="vm.toggleSideNav()"> <!--hide-gt-sm-->
                <i class="material-icons md-24">menu</i>
            </md-button>

            <h2 class="md-toolbar-title">
                <span>AgroWSN</span>
            </h2>

        </div>
    </md-toolbar>

    <div flex layout="row">
        <md-sidenav md-is-locked-open="$mdMedia('gt-md')"
                    class="md-sidenav-left"
                    md-component-id="left"
                    md-whiteframe="4">
            <md-content>
                <md-list ng-click="vm.toggleSideNav()">

                    <div class="sidenav-list-item" ng-link="['Dashboard']">
                        <md-list-item class="md-3-line" >
                            <div class="md-list-item-text">DASHBOARD</div>
                        </md-list-item>
                    </div>

                    <md-divider></md-divider>

                    <div class="sidenav-list-item" ng-link="['Reports']">
                        <md-list-item class="md-3-line">
                            <div class="md-list-item-text">REPORTS</div>
                        </md-list-item>
                    </div>

                    <md-divider></md-divider>

                    <div class="sidenav-list-item" ng-link="['Analytics']">
                        <md-list-item class="md-3-line" >
                            <div class="md-list-item-text">ANALYTICS</div>
                        </md-list-item>
                    </div>

                </md-list>
            </md-content>
        </md-sidenav>

        <div flex layout="column" class="agrowsn-app-main-content-container">
            <ng-outlet></ng-outlet>
        </div>

    </div>

</div>

