html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}


ng-outlet,
agrowsn-app,
.agrowsn-app-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}





.agrowsn-app-main-content-container {
    background-color: #f5f5f5;
}



.sidenav-list-item {
    cursor: pointer;
}

md-list {
    outline: 0;
}

