<div class="reports-container">
    <div class="reports-filters-container" layout="row" md-whiteframe="1" layout-margin>
        <div class="reports-filters-date-picker-container">
            <span>Date From</span>
            <md-datepicker ng-model="vm.dateFrom" md-placeholder="Enter date"></md-datepicker>
        </div>
        <div class="reports-filters-date-picker-container">
            <span>Date To</span>
            <md-datepicker ng-model="vm.dateTo" md-placeholder="Enter date"></md-datepicker>
        </div>

        <span flex></span>

        <md-button layout="row" class="md-raised md-primary" ng-click="vm.getSensorData()" >
            <!--<md-icon>file_download</md-icon>-->
            Get Data
        </md-button>
    </div>

    <div layout="column" layout-margin flex>
        <div ag-grid="vm.gridOptions" class="ag-theme-material" style="height: 100%"></div>
    </div>

</div>