<div class="dashboard-container">
    <div class="dashboard-row">
        <div class="dashboard-column">
            <div class="dashboard-card">
                <div class="dashboard-card__title">Air Temperature</div>
                <div class="dashboard-chart-wrapper">
                    <canvas id="temperature-chart"
                            class="chart chart-line"
                            chart-colors="vm.temperatureChart.colors"
                            chart-data="vm.temperatureChart.data"
                            chart-labels="vm.temperatureChart.labels"
                            chart-series="vm.temperatureChart.series"
                            chart-options="vm.temperatureChart.options"
                            chart-click="vm.temperatureChart.onClick"></canvas>
                </div>
            </div>
        </div>
        <div class="dashboard-column">
            <div class="dashboard-card">
                <div class="dashboard-card__title">Air Humidity</div>
                <div class="dashboard-chart-wrapper">
                    <canvas id="humidity-chart"
                            class="chart chart-line"
                            chart-colors="vm.humidityChart.colors"
                            chart-data="vm.humidityChart.data"
                            chart-labels="vm.humidityChart.labels"
                            chart-series="vm.humidityChart.series"
                            chart-options="vm.humidityChart.options"
                            chart-click="vm.humidityChart.onClick"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="dashboard-row">
        <div class="dashboard-column">
            <div class="dashboard-card">
                <div class="dashboard-card__title">Soil Moisture</div>
                <div class="dashboard-chart-wrapper">
                    <canvas id="soil-moisture-chart"
                            class="chart chart-line"
                            chart-colors="vm.soilMoistureChart.colors"
                            chart-data="vm.soilMoistureChart.data"
                            chart-labels="vm.soilMoistureChart.labels"
                            chart-series="vm.soilMoistureChart.series"
                            chart-options="vm.soilMoistureChart.options"
                            chart-click="vm.soilMoistureChart.onClick"></canvas>
                </div>
            </div>
        </div>

        <div class="dashboard-column">
            <div class="dashboard-card">
                <div class="dashboard-card__title">Leaf Wetness</div>
                <div class="dashboard-chart-wrapper">
                    <canvas id="leaf-wetness-chart"
                            class="chart chart-line"
                            chart-colors="vm.leafWetnessChart.colors"
                            chart-data="vm.leafWetnessChart.data"
                            chart-labels="vm.leafWetnessChart.labels"
                            chart-series="vm.leafWetnessChart.series"
                            chart-options="vm.leafWetnessChart.options"
                            chart-click="vm.leafWetnessChart.onClick"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>